<%- include('partials/header') %>

<h1>About Me</h1>
        <img src="Blue-Nike.JPG" alt="Arvin Naresh" width="200" height="300">
        <p>Hi, my name is Arvin Naresh and I am a second year Technology Management student at Ontario Tech University. Here is a short introductory video about me.</p>
        <video controls poster="video-ss.jpg" width="300">
            <source src="Intro-Video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

<%- include('partials/footer') %>
