</main>
<footer>
    <p>Connect with me on <a href="https://github.com/ArvinN15/WebAndScript">GitHub</a> and <a href="https://www.linkedin.com/in/arvin-naresh-85a70324b/">LinkedIn</a></p>
</footer>
</body>
</html>
