<%- include('partials/header') %>

<h1>Welcome to My Portfolio</h1>
        <p>Hello, I'm Arvin Naresh, a student of Technology Management with a love for basketball, music, and video games. I specialize mainly in business.</p>
        <p>Explore my projects and learn more about my journey in the world of Web and Script Programming. If you have any questions or want to collaborate, feel free to reach out.</p>

<%- include('partials/footer') %>
