<%- include('partials/header') %>

<h1>Projects</h1>
        <p>Here's a list of projects I have worked on in Python.</p>
        <p> -Address Book</p>
        <p> -Shopping Receipt</p>
        <p> -Car Manufacturer</p>
        <p> -ATM Machine</p>
        <p> -Calculator</p>
        <p> -BMI Calculator</p>
        <p> -Password Encrypter (Final Project)</p>

<%- include('partials/footer') %>
